*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.button {
	border: 0;
	cursor: pointer;
	background-color: transparent;
	font-size: inherit;
	font-family: inherit;
	border-radius: 5px;
}

.main {
	padding: 1rem;
	height: 100vh;
	/* max-width: 800px;
	margin: 0 auto;
	margin-top: 2rem; */
	border-radius: 5px;
	overflow: hidden;
}

.form {
	padding: 2rem;
	border: 1px solid #DCDCDC;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
}

.form__group {
}

.form__select {
	width: 100%;
	font-size: inherit;
	font-family: inherit;
	padding: 1rem;
	outline: none;
	background-color: transparent;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
}

.form__select-option {}

.form__button {
	background-color: #3333FF;
	color: #fff;
	padding: 0.75rem 1rem;
}

.form__button:hover {
	background-color: #3300FF;
}

.text-result {
	position: relative;
	height: 100%;
}
.text-result__textarea {
	width: 100%;
	height: 100%;
	background-color: #F5F5F5;
	border: 0;
	resize: none;
	padding: 2rem;
	outline: none;
	font-size: inherit;
	font-family: inherit;
}

.text-result__button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: #3333FF;
	background-color: #fff;
	border: 1px solid #3333FF;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
}

.text-result__button:hover {
	color: #fff;
	background-color: #3333FF;
}

@media (min-width: 480px) {
	.main {
		max-width: 800px;
		margin: 0 auto;
		margin-top: 2rem;
	}

	.text-result {
		height: 600px;
	}
}